
.firstNameHeader {
	display: flex;
	color: #000000;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-weight: 400;
	left: 45%;
	margin-top: -45px;
	margin-left: -100px;
	margin-bottom: 5em;
	opacity: .65;
	position: relative;
	top: 44%;

}

.firstNameInput {
	display: flex;
	color: #d1d1d1;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	left: 45%;
	margin-top: -45px;
	margin-left: -100px;
	position: relative;
	top: 48.5%;

}

input[type="text"] {
	display: flex;
    background-color: #e6e6e6;
    border-radius: 5px;
    border: none;
    font-size: 15px;    
    height: 50px;
    opacity: 0.7;
    min-width: 380px;
}

textarea[alt="bio"] {
	display: flex;
	background-color: #e6e6e6;
    border-radius: 5px;
    border: none;
    font-size: 15px;
	height: 140px;
    opacity: 0.7;
    resize: none;
    min-width: 380px;
}

.jobTitleHeader {
	display: flex;
	color: #000000;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-weight: 400;
	left: 45em;
	margin-top: -45px;
	margin-left: -100px;	
	opacity: .65;
	position: relative;
	top: 53%;
}

.jobTitleInput {
	display: flex;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	left: 45%;
	margin-top: -45px;
	margin-left: -100px;	
	position: relative;
	top: 57.5%;
}

.birthdayHeader {
	display: flex;
	color: #000000;
	font-family: 'Merriweather', serif;
	font-size: 15px;	
	font-weight: 700;
	left: 45%;
	margin-top: -45px;
	margin-left: -100px;	
	opacity: .65;	
	position: relative;
	top: 62%;
}

.birthdayInput {
	display: flex;
	font-family: 'Merriweather', serif;
	font-size: 15px;	
	left: 45%;
	margin-top: -45px;
	margin-left: -100px;	
	position: relative;
	top: 66.5%;
}

.bioHeader {
	display: flex;
	color: #000000;
	font-family: 'Merriweather', serif;
	font-size: 15px;	
	font-weight: 700;
	left: 45%;
	margin-top: -45px;
	margin-left: -100px;		
	opacity: .65;	
	position: relative;
	top: 71%;
}

.bioInput {
	display: flex;
	font-family: 'Merriweather', serif;
	font-size: 15px;	
	left: 45%;
	margin-top: -45px;
	margin-left: -100px;	
	position: relative;
	top: 75.5%;
}

.saveButton {
	display: flex;
	position: relative;
	top: 91.5%;
	left: 55.3%;
	margin-top: -45px;
	margin-left: -100px;
	min-height: 7%;
}